body {
    font-family: Khand;
    background-color: white;
    color: black
}

header svg {
    color: white
}

.dark {
    background-color:black;
    color: white;
    
    a, svg, span {
        color: white
    }
    .MuiPaper-root {
        background-color: #303030;
    }
    header .MuiButton-label {
        color: black
    }
}